.borderstyle1{
	border-style: solid;
}

.borderstyle2{
	border-style: dotted;
}

.borderstyle3{
	border-style: double;
}

.borderstyle4{
	border-style: dashed;
}

.borderstyle5{
	border-style: inset;
}

.borderstyle6{
	border-style: outset;
}


.bddesign{
	width:200px;
	height: 200px;
	background-color:orange;

				/*all angle*/
	/*border-radius:20px;*/

						/*top&bottom left&right*/
	/*border-radius: 10px 50px;*/

					/*top left /  top right / bottom right / bottom left*/
	/*border-radius: 10px 20px 50px 80px;*/


	border-top-left-radius: 30px;
	border-top-right-radius: 50px;
	border-bottom-right-radius:80px;
	border-bottom-left-radius: 100px;
}


li{
	/*list-style-type:square; */
	/*list-style-type:circle;*/
	/*list-style-type: none;*/
	/*list-style:none;*/

	/*list-style-type: decimal;*/
	list-style-type: decimal-leading-zero;

	/*border:1px solid red;*/

	border:1px;
	border-style:solid;
	border-color:orange; 

	/*list-style-position:inside;*/
	list-style-position: outside;


}
/*ul{
	list-style-type: circle;
}*/



/*Attribute Selector*/
input[type="text"]{
	color:#fff;
	background-color: green;
	width: 300px;
	border-radius: 20px;
}

input[type="email"]{
	color:blue;
}


body{
	background-image:url(../img/icons/icon1.png);
	background-repeat: no-repeat;

	/*background-position: center;*/
	/*background-position: right;*/
	/*background-position: left;*/
	/*background-position:top;*/
	/*background-position:bottom;*/

	/*background-position:right bottom;*/
	/*background-position:left bottom;*/
	/*background-position:right top;*/
	/*background-position:left top;*/

}



/*el
id
cl
uni
attribute
group
single*/


/*name() = function
name{} = object
[] = array*/