@font-face{
	font-family: bigShoulders;
	src: local('BigShouldersStencilDisplay-Light'),url(../../libs/fonts/bigShouldersStencilDisplay/BigShouldersStencilDisplay-Light.ttf) format('woff');
}
*{
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}
html{
	font-size: 16px;
}
body{
	font-family: bigShoulders;
}
.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/*border: 2px solid red;*/
}
.form-box{
	width: 300px;
	height: 300px;
	/*the following comment code does't work*/
	/*border: 2px solid linear-gradient(yellow,red);*/
	border: 2px solid red;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#form{
	/*border: 2px solid red;*/
	width: 100%;

}
.login-input{
	margin-bottom: 20px;
	width: 100%;
	padding: 20px 0px;
	appearance: none;
}